<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Conten-Type" content="text/html; charset=UTF-8">
	<title>User Home</title>
</head>
<body>
{% if user_name %}
	{% if accountlist %}
		{% for account in accountlist %}
			<a>{{ account.account_name }}</a>
		{% endfor %}
		<h2>Sign Up Successfully</h2>
		}
	{% endif %}
	<h1>Welcome</h1>
	{{ user_name }}

	<a href="{% url 'keychain:user_web_signout' %}"><input type='submit' value='sign out'></a>
{% else %}
	<h1>Please Sign In</h1>
	<a href="{% url 'keychain:user_web_signin' %}"><input type='submit' value='sign in'></a>
	<a href="{% url 'keychain:user_web_signup' %}"><input type='submit' value='sign up'></a>
	<a href="{% url 'keychain:user_web_signout' %}"><input type='submit' value='sign out'></a>
{% endif %}

</body>
</html>