<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<title>User Sign In</title>
</head>
<body>
	<h1>User Sign In</h1>
	{% if err_message %}
	<h5>{{ err_message }}</h5>
	{% endif %}
	<form method="post" action="{% url 'keychain:user_web_signin' %}">
		{% csrf_token %}
		{{ user_form.as_p }}
		<a href="{% url 'keychain:user_web_signin' %}">
		<img src="{% static captcha_url %}"></a><br>

		<input type="submit" value="sign in">
	</form>
	<a href="{% url 'keychain:user_web_signup' %}"><input type='submit' value='sign up'></a>
</body>
</html>